
body{
    background-color: rgb(246, 193, 163);
    font-family: "Fredoka", sans-serif;
}
/* Parte de la presentación, nombres*/
header{
    background-color: transparent;
    color: rgb(0, 0, 0);
    margin: 0; /* Elimina los márgenes */
    padding-top: auto; /* Elimina el relleno */
    display: flex;
}

header h2{
    margin-right: 30px; /* Espacio entre cada elemento */
    margin-left: 30px;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

header h3{
    margin-right: 30px; /* Espacio entre cada elemento */
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

/*Parte de los grids   rgb(250, 163, 123)*/
.gridContenedor {
    display: grid;
    background-color: rgb(250, 163, 123);
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    gap: 10px; 
    padding: 20px;
}

/*Parte de las funciones y restricciones*/
.gridFunyRestri {
    background-color: #afd8b2;
    padding: 20px;
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;
    height: max-content;
}

/*Parte de las matrices*/
.gridOperaciones {
    background-color:  #fce185;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: max-content;
}
/*Titulos xd*/
#tituloPrincipal{
    font-size: 25px;
    color: black;
    text-align: center;
}

#tituloMetodo{
    text-align: center;
}

/* Personalizacion de botones y entradas de texto*/
button{
    font-family: "Fredoka", sans-serif;
    background-color: #ffffff;
    border-color: black;
    border-radius: 5px;
}

input{
    font-family: "Fredoka", sans-serif;
    border-radius: 5px;
    max-width: 300px; /* Ancho máximo */
    width: 10%; /* Permitir que use el ancho completo del contenedor */
}

/* Tooltips*/

.tooltip{
    display: flex;
    align-items: center;
}

.tooltip h3{
    margin-right: 5px;
}

.signo {
    margin-right: 10px;
    color: coral;
    font-weight: bolder;
    font-size: larger;
    position: relative;
    cursor: pointer;
}

/* Tooltip inicialmente oculto */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 15px;
    background-color: rgb(60, 168, 239);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posición del tooltip */
    left: 50%;
    margin-left: -60px; /* Centrar el tooltip */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s; /* Efecto de transición */
}

/* Mostrar el tooltip al pasar el mouse sobre el signo */
.signo:hover .tooltiptext {
    visibility: visible;
    opacity: 1; /* Mostrar el tooltip al pasar el mouse */
}
